:root{
    --background-color:#c41515;
    --select-color:rgb(87, 177, 218);
    --font-size:16px;
    --font-family:'Courier New', Courier, monospace;
    
}

*{
    padding: 0;
    margin:  0;
    box-sizing: content-box;
   
}


body{
    font-size: var(--font-size);
    font-family:var(--font-family);
}

header{
    text-align: center;
    background-color: var(--background-color);
    color: white;
    height: 5vh;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    
    
}



main{
   
    height: 100%;
    width: 100%;
    position: absolute;
}

#search{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    height:40%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
  
}

#btn
{
    width: 10%;
    padding: 10px ;
    
    border-style: none;
    border-bottom: 2px solid var(--background-color);
    border-right:2px solid var(--background-color);
    background-color:var(--background-color);
    color:white;
}

#searchbox{
    padding: 10px;
    width: 80%;
    border-style: none;
    outline-width: 0;
    border-bottom: 2px solid var(--background-color);
    user-select: none; 
}

.count{
    font-size: 40px;
    display: inline-block;
    width: 100%;
    text-align: center;
}


#filters{
    width: 100%;
    height: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.filter
{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
   
}

.filter a
{
    text-decoration: none;    
    color: black;
}



#list{
    
    width: 95%;
    height:70%;
    overflow-y: scroll;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.card
{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    color: black;
    padding-top: 20px;
    text-align: center;
    width: 200px;
    height: 200px;
    line-height: 30px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card img{
    object-fit: cover;
    width: 50%;
}

.card a
{
    text-decoration: none;
    color: var(--background-color);
    cursor: pointer;
}

.card a:hover{
    color: var( --select-color);
}

.card:hover
{
    transform: scale(1.1);
    transition: all ease 0.3;
}

.loader
{
    animation-name: beat;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-direction: alternate;
}

.grass
{
    background-color: rgb(159, 231, 159);
    color: white;
}

.electric
{
    background-color: rgb(232, 232, 74);
    color: white;
}

.selected_filter{
    background-color: black;
    color: white;
    border-color:5px solid #c41515;
    
}

.selected_filter a{
    color: white;
}

/*ANIMACIONES*/

@keyframes beat {
    0%{
        scale:1.0
    }
    10%{
        scale:1.3
    }
    30%{
        scale:1.1
    }
    40%{
        scale:1.3
    }
    50%{
        scale:1.1
    }
    60%{
        scale:1.0
    }
    80%{
        scale:1.3
    }
    90%{
        scale:1.2
    }
    100%{
        scale:1.0
    }
}
